body {
    background-color: #040303;
}

.leftSideContent {
    z-index: 0;
    position: absolute;
    left: 0;
    top: 100px;
    width: 240px;
    padding:10px;
    background-color: #040303;
    color: #ffffff;
    min-height: 100%;
}
.leftSideContent b, p, li, ul {
    padding-left: 50px;
    font-size: 18px;
    text-align: center;
}
.leftSideContent a:link{
    color: #069364;
}
.leftSideContent a:visited{
    color: #FD151B;
}
.leftSideContent img {
    padding-left: 80px;
}

.middleContent{
    margin-left: 10px;
    margin-right: 60px;
    color: #069364;
    padding: 300px;
    min-height: 600px;
    background-color: #040303;
}
.middleContent h3, a {
    color: #BEB0A7;
}

.middleContent p{
    text-align: justify;
    margin: 20px;

}
.middleContent img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.rightSideContent {
    z-index: 0;
    position: absolute;
    right: 0;
    top: 300px;
    width: 240px;
    padding: 10px;
    background-color: #040303;
    color: #f3b314;
    min-height: 100%;
}
.rightSideContent li{
    list-style: square;
}
.rightSideContent a:link{
    color: #069364;
}
.rightSideContent a:visited{
    color: #FD151B;
}

@media screen and (max-width: 800px) {
    .image-column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 700px) {
    .image-column {
        flex: 100%;
        max-width: 100%;
    }
}